*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: lightblue;
}
#wrapper{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;

}
.bom{
    font-size: 3rem;
    color: green;
}
.header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: red; */
}

.boxes{
    width: 80%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.box
{
    width: 25px;
    height: 25px;
    border: 1px dashed green;
    background-color: gray;
    /* border-color: green;    */
    margin: 10px;
    
}