 body{
    background-color: white;
    padding: 30px;
 }
 button{
    width: 100px;
    height: 100px;
    color: blue;
    border-radius: 10px;
    background: none;
 }
 .red{
    background-color: red;
    padding: 25px;
    position: absolute;
    background-position: right;
    /* right: 100px; */
     right: 10px;
     top: 10px;

 }
 .yellow{
    background-color: yellow;
    padding: 25px;
    position: absolute;
    right: 10px;
    bottom: 10px;
    /* top: 300px; */

 }
 .green{
    background-color: green;
    /* position: absolute; */
    padding: 30px;
    /* left: 10px; */
    /* bottom: 10px; */
 }